.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3{
    font-size: 3rem;
}
input {
    height: 120px;
    font-size: 4rem;
    text-align: center;
    border: 2px solid black;
}

#displayWords {
    color: red;
    margin-top: 20px;
    padding: 30px;
    min-width: 190px;
    border: 3px solid gray;
    border-radius: 30px;
    background-color: darkgrey;
    font-size: 2rem;
}